<h1>
    Vehicle List
</h1>

<button *ngIf="!creatingVehicle" (click)="setCreateVehicleView()">Create Vehicle</button>

<div *ngIf="!creatingVehicle" class="center">
    <table>
        <tr>
            <th>VID</th>
            <th>Message</th>
        </tr>
        <tr class="data" *ngFor="let vehicle of vehicles">
            <td (click)="select(vehicle)">{{vehicle.vid}}</td>
            <td (click)="select(vehicle)">{{vehicle.msg}}</td>
            <td><button (click)="delete(vehicle)">Delete</button></td>
        </tr>
    </table>
</div>

<div *ngIf="creatingVehicle">
        <h4>Enter Vehicle Information</h4>
        <label for="vid">Vehicle ID</label>
        <br/>
        <input type="text" #vid>
        <br/>
    
        <label for="gasTankSize">Gas Tank Size</label>
        <br/>
        <input type="text" #gasTankSize>
        <br/>
    
        <label for="bitrate">Bitrate</label>
        <br/>
        <input type="text" #bitrate>
        <br/>
    
        <label for="msg">Initial Message</label>
        <br/>
        <input type="text" #msg>
        <br/>
    
        <button (click)="createVehicle()">Create</button>
        <button (click)="unsetCreateVehicleView()">Back</button>
</div>